<div class="container-fluid">
    <form [formGroup]="kostenfunktion_form">
        <div class="formGroup">
            <div class="row no gutters flex-row">
                <div class="col-md-4">
                    <div class="wrapper" style="margin-top: 1rem;">
                        <img src="/assets/funktion-invest.png" alt="Funtkion1">
                    </div>
                    <div class="wrapper">
                        <img src="/assets/funktion-betrieb.png" alt="Funktion2">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="button-save">
                        <button mat-raised-button (click)="kostenfunktionSpeichern()" style="margin-right: 2rem;"
                            color="primary" [disabled]="!kostenfunktion_form.valid">Kostenfunktionen speichern</button>
                        <button mat-raised-button (click)="standardwerte_einstellen()" style="margin-right: 2rem;"
                            color="primary">Standardwerte wiederherstellen</button>
                    </div>

                </div>
            </div>
            <div class="row no gutters flex-row">
                <div class="col-md-4">
                    <!--Slider Invest-->
                    <!-- Parameter A-->
                    <div class="div" style="margin-top: 2.5rem;">
                        <div class="row-wrapper">
                            <span class="wrapper">
                                <label class="margin-05-right">Absolute Werte verwenden:</label>
                            </span>
                            <mat-slide-toggle formControlName="absolut_spezifisch"
                                (change)="absolut_spezifisch_Toggle()" class="form-field"></mat-slide-toggle>
                        </div>
                        <div *ngIf="!absolut_spezifisch_boolean">
                            <div class="row-wrapper">
                                <span class="wrapper">
                                    <label class="margin-05-right">Absolute Investitionskosten in Euro:</label>
                                </span>
                                <mat-form-field class="form-field">
                                    <mat-label>Euro</mat-label>
                                    <input matInput formControlName="Absolut_Invest" min="0" max="100000" class="input"
                                        type="number">
                                </mat-form-field>
                            </div>
                            <div class="row-wrapper">
                                <span class="wrapper">
                                    <label class="margin-05-right">Absolute Betriebskosten in Euro:</label>
                                </span>
                                <mat-form-field class="form-field">
                                    <mat-label>Euro</mat-label>
                                    <input matInput formControlName="Absolut_Betrieb" min="0" max="100000" class="input"
                                        type="number">
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngIf="absolut_spezifisch_boolean">
                            <div class="row-wrapper">
                                <span class="wrapper">
                                    <label class="margin-05-right">Invest Parameter A:</label>
                                </span>
                                <mat-slider class="slider" formControlName="Invest_Parameter_A" thumbLabel
                                    tickInterval="1" min="1" max="10000" (change)="chartInvestAktualisieren()">
                                </mat-slider>
                            </div>
                            <!-- Parameter B-->
                            <div class="row-wrapper">
                                <span class="wrapper">
                                    <label class="margin-05-right">Invest Parameter B:</label>
                                </span>
                                <mat-slider class="slider" formControlName="Invest_Parameter_B" thumbLabel
                                    tickInterval="0.01" min="-1" max="0" step="0.01"
                                    (change)="chartInvestAktualisieren()">
                                </mat-slider>
                            </div>
                            <div class="row-wrapper">
                                <span class="wrapper">
                                    <label class="margin-05-right">Zusätzliche Investitionskosten in Euro:</label>
                                </span>
                                <mat-form-field class="form-field">
                                    <mat-label>Euro</mat-label>
                                    <input matInput formControlName="Zusatz_Invest" min="0" max="100000" class="input"
                                        type="number">
                                </mat-form-field>
                            </div>
                            <div class="row-wrapper">
                                <span class="wrapper">
                                    <label class="margin-05-right">Betrieb Parameter A:</label>
                                </span>
                                <mat-slider class="slider" formControlName="Betrieb_Parameter_A" thumbLabel
                                    tickInterval="1" min="1" max="400" step="1" (change)="chartBetriebAktualisieren()">
                                </mat-slider>
                            </div>
                            <!-- Parameter B-->
                            <div class="row-wrapper">
                                <span class="wrapper">
                                    <label class="margin-05-right">Betrieb Parameter B:</label>
                                </span>
                                <mat-slider class="slider" formControlName="Betrieb_Parameter_B" thumbLabel
                                    tickInterval="1" min="1" max="50" step="1" (click)="chartBetriebAktualisieren()">
                                </mat-slider>
                            </div>
                        </div>
                    </div>
                    <div class="row-wrapper">
                        <span class="wrapper">
                            <label class="margin-05-right">Einspeisevergütungen in ct/kWh:</label>
                        </span>
                        <span class="wrapper">
                            <mat-form-field class="form-field">
                                <mat-label>
                                    < 10 kW</mat-label>
                                        <input matInput formControlName="Einspeisung_A" min="0" max="50" step="0.01"
                                            class="input" type="number">
                            </mat-form-field>
                            <mat-form-field class="form-field">
                                <mat-label>10 - 40 kW</mat-label>
                                <input matInput formControlName="Einspeisung_B" min="0" max="50" step="0.01"
                                    class="input" type="number">
                            </mat-form-field>
                            <mat-form-field class="form-field">
                                <mat-label>40 - 750 kW</mat-label>
                                <input matInput formControlName="Einspeisung_C" min="0" max="1" step="0.01"
                                    class="input" type="number">
                            </mat-form-field>
                        </span>
                    </div>
                </div>
                <div class="col-md-8">
                    <!--Chart Invest-->
                    <div class="div" style="display: block; justify-content: center;">
                        <app-chart-invest-funktion></app-chart-invest-funktion>
                    </div>
                    <div class="div" style="display: block; justify-content: center;">
                        <app-chart-betrieb-funktion></app-chart-betrieb-funktion>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>